<!DOCTYPE html>
<html>
<head>
  <title>the hacker school confessional</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body>
  <div id="counter">
    <%= (@session_count + 2).to_s + " sinners in the booth" %>
  </div>
  <div id="wrapper" class="center">
    <h1>
      <%= link_to(confessions_path) do %>
        $ the hacker school confessional<span class="blink cursor">&nbsp;</span>
      <% end %>
    </h1>

<%= yield %>

  </div>

  <script type="text/javascript" language="javascript">
    $(document).ready(function()
    {
      $('.blink').blink(); // default is 500ms blink interval.
    });
  </script>
</body>
</html>
